<!DOCTYPE html>
<html lang="en">

<head>
    <title>Furman Archives</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <link rel="stylesheet" href="/static/bower_components/leaflet/locate/L.Control.Locate.css" />
    <link rel="stylesheet" href="/static/bower_components/leaflet/gcc_geosearch/l.gcc_geosearch.css" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd8ggjAUt4Slz0yeqL5Ax1XMwrV5GJBnY&sensor=false&libraries=places"></script>


</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Furman Archives</a>
            </div>
            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>-->

            <ul class="nav navbar-nav navbar-right">
                {% if session['logged_in'] == True %}
                <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                {% else %}
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login <span class="sr-only">(current)</span></a></li>
                {% endif %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Help <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://beyondmapping.com/documents/Installing%20the%20Local%20Explorer%20Extension.pdf" target="_blank">Install Local File Extension</a></li>
                  <li><a href="http://beyondmapping.com/documents/Adding%20Network%20Location.pdf" target="_blank">Add Network Location</a></li>
                </ul>
              </li> 
            </ul>

        </div>
    </nav>


    {% if session.logged_in %}
    <div id="map"></div>
    {% else %}
    <div class="container">

        <div class="jumbotron">
            <h3>Survey Records for</h3>
            <h1>Furman Land Surveyors, Inc.</h1>
            <p class="lead">The following is digital map archive containing records of surveys perfomed by Furman Land Surveyors, Inc. or
                one of it's subsideraries. The information herein is considered priveledged and users must obtain a username
                and password from GDI, Inc. prior to using.</p>

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#myModal">Sign in</a>
            </p>
            <hr class="my-4">

            <footer class="footer footer-brand">
                <p>© 2017 GDI, Inc.</p>
            </footer>
        </div>
    </div>
    {% endif %}

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
                    <img class="img-responsive" id="img_logo" style="height:150px;" src="http://beyondmapping.com/img/logo.png">

                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form" method="post" action='/login' name="login_form">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Type your username and password.</span>
                            </div>
                            </br>
                            <input id="login_username" name='username' class="form-control" type="text" placeholder="Username"
                                required>
                            </br>
                            <input id="login_password" name='password' class="form-control" type="password" placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                            <!--<div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>-->
                        </div>
                    </form>
                    <!-- End # Login Form -->

                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
                            <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Lost Password Form -->


                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->

    <script src="/static/bower_components/jquery/dist/jquery.min.js "></script>

    <!--<script src="./static/login.js "></script>-->

    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="/static/bower_components/leaflet/dist/leaflet.js "></script>

    <script src="/static/js/listBaseLayers.js"></script>
    <!--<script>document.write("<script type='text/javascript' src='/static/js/listBaseLayers.js?timestamp=" + Date.now() + "'><\/script>");</script>-->

    <script src="/static/bower_components/leaflet/gcc_geosearch/gcc_geosearch.js"></script>
    <script src="/static/bower_components/leaflet/locate/L.Control.Locate.js"></script>

    <script>document.write("<script type='text/javascript' src='/static/js/map.js?timestamp=" + Date.now() + "'><\/script>");</script>

    <!--<script src="/static/js/map.js?timestamp=1496935660453"></script>-->

</body>

</html>